header h3,
header div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#game-content {
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}
