body {
  background-color: papayawhip;
  color: #444;
  font-family: Bitter, Palatino, Georgia, "Times New Roman", serif;
  font-weight: 400;
}
header {
  color: whitesmoke;
  background-color: rgb(81, 39, 131);
}
h1 {
  margin-bottom: var(--h1-margin);
  font-family: Prompt, Verdana, Tahoma, Arial, sans-serif;
  font-weight: 700;
}
a {
  color: #00aaff;
}
.review {
  display: flex;
  justify-content: center;
  margin: 1vh auto;
}
.review-text {
  width: 90vw;
  height: 50vh;
}
.rating {
  margin: 1vh auto;
}
svg.icon {
  display: inline;
  height: 2em;
  width: 2em;
  vertical-align: top;
  fill: currentColor;
}
li {
  display: flex;
  align-items: center;
}
