body {
  background-color: var(--color-background-page);
  color: var(--color-text);
  font-family: Bitter, Palatino, Georgia, "Times New Roman", serif;
  font-weight: var(--font-weight-normal);
}
header {
  color: var(--color-header);
  background-color: var(--color-background-header);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-normal);
}
header h3,
header div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
h1 {
  font-family: Prompt, Verdana, Tahoma, Arial, sans-serif;
  font-weight: var(--font-weight-strong);
  font-size: x-large;
}
a {
  color: var(--color-link);
}
.review {
  display: flex;
  justify-content: center;
  margin: 1vh auto;
}
.review-text {
  width: 90vw;
  height: 50vh;
}
.rating {
  margin: 1vh auto;
}
svg.icon {
  display: inline;
  height: 2em;
  width: 2em;
  vertical-align: top;
  fill: currentColor;
}
li {
  display: flex;
  align-items: center;
}
dl {
  display: flex;
  flex-direction: column;
}
dd {
  padding-left: 2em;
}
p {
  padding: var(--padding-normal);
}
#game-layout {
  display: grid;
  grid-template-columns: [start] 1fr 1fr 1fr 1fr 1fr 1fr [end];
  row-gap: 5em;
}
