li {
  display: flex;
  align-items: center;
}
#rate-head {
  justify-content: space-between;
}
#rate-logo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
#rate-icon {
  width: var(--svg-icon-size-med);
  height: var(--svg-icon-size-med);
}
