:root {
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-strong: 700;
  --padding-normal: 0.5em;

  --color-text: #444;
  --color-background-page: papayawhip;
  --color-header: whitesmoke;
  --color-background-header: rgb(81 39 131);
  --color-link: #0af;

  --svg-icon-size-small: 2em;
  --svg-icon-size-med: 4em;
}
